/* body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 10px 20px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* background-color:gold; */
}

.headerLeft {
    height: 100%;
    display: flex;
    align-items: center;
}

.headerInput {
    height: 100%;
}

.headerInput input {
    width: 250px;
    font-size: 18px;
    height: 100%;
    margin-left: 10px;
    border: 0;
    border-radius: 25px;
    padding-left: 15px;
    background-color: #F0F2F5;
}

input:focus {
    outline: none;
}


.headerCenter {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 20px;
    font-size: 26px;
}


.headerIcons {
    width: 80px;
    height: 100%;
}

.headerIcons i {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerIcons i:hover {
    border-radius: 5px;
    background-color: #F0F2F5;
    border-bottom: 5px solid blue;
}

.headerRight {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.headerRightIcons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9edf3;
}

.headerRightIcons i {
    font-size: 17px;
}

.contanir {
    height: calc(100vh - 70px);
    display: flex;
    background-color: #F2F4F7;
}

.MainLeftSlidebar {
    overflow: scroll;
    /* flex-grow: 1; */
    padding: 0px 10px;
    padding-top: 25px;
    width: 25%;
    background-color: #F2F4F7;
}

.MainSlidebarioncs p {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    /* background-color: blue; */
}

.MainSlidebarioncs p:hover {
    background-color: #E6E8EA;
    border-radius: 10px;
}

.MainSlidebarioncs i {
    font-size: 22px;
    margin-right: 15px;
}




.MainCenterPost {
    /* flex-grow: 2; */
    width: 50%;
    /* background-color: chartreuse; */
}


.MainCenterPost {
    margin: 0px 20px;
    margin-top: 17px;
    /* background-color: teal */
}


.postHeader {
    border-radius: 10px;
    padding: 14px 15px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 15px;
}



.postHeader i {
    font-size: 24px;
}


.postHeaderInput {
    flex-grow: 2;
}

.postHeaderInput input {
    font-size: 18px;
    width: 100%;
    padding: 10px 10px;
    padding-left: 15px;
    /* margin-left: 10px; */
    border: none;
    border-radius: 15px;
    background-color: #F0F2F5;
}

.postHeaderIcons i {
    margin-right: 5px;

}


.createPost {
    width: 500px;
    height: 475px;
    margin: 0 auto;
    top: 100px;
    left: 400px;
    position: fixed;
    padding: 15px 0px;
    background-color: wheat;
    background-color: white;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.createPostHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 0 22px;
}

.createPostHeader h4 {
    width: 100%;
    text-align: center;
}

.createPostHeader p {
    font-size: 22px;
    font-weight: 550;
    width: 40px;
    height: 40px;
    background-color: #e9edf3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.porfile {
    margin-top: 16px;
    padding: 0px 22px;
    display: flex;
    /* background-color: aqua; */
    align-items: center;
    gap: 5px;
}

.porfile p {
    font-size: 20px;
}

.porfile i {
    margin-top: 3px;
    font-size: 32px;
}

.createPost textarea {
    /* margin: 0 22px; */
    width: 100%;
    height: 190px;
    border: none;
    padding: 5px 22px;
}

.createPost textarea:focus {
    outline: none;
}

.imageUplod{
    padding: 0 22px;
    margin-top: 10px;
    /* background-color: yellow; */
}

.imageUplod p{
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 12px;
}

.createPostBtn{
    padding: 0 22px;
    /* padding-bottom: 12px; */
    /* margin-bottom: 10px; */
}

.createPostBtn button{
    width: 100%;
    border: none;
    background-color: blue;
    color: white;
    padding: 5px;
}


.MainRightSlidebar {
    background-color: chartreuse;
    width: 25%;
}